CYPHT_APP_NAME="Allmende Webmail"
CYPHT_AUTH_USERNAME=admin
CYPHT_AUTH_PASSWORD=
CYPHT_ADMIN_USERS=admin
CYPHT_DB_CONNECTION_TYPE=host
CYPHT_DB_HOST=mariadb
CYPHT_DB_NAME=cypht
CYPHT_DB_USER=cypht
CYPHT_DB_PASS=
CYPHT_ALLOW_LONG_SESSION=true

